---
import '../../styles/global.css';
import ConvexProvider from '../../lib/svelte/svelte-convex.svelte';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Svelte Convex Better Auth Astro</title>
	</head>
	<body>
		<ConvexProvider>
			<slot />
		</ConvexProvider>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
